<a href="https://colab.research.google.com/github/Code-With-aashi/Pyspark-/blob/main/Pyspark2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-11-headless -qq > /dev/ null
!wget -q https://downloads.apache.org/spark/spark-3.0.2/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!pip install -q findspark

/bin/bash: /dev/: Is a directory

In [ ]:
!ls /usr/lib/jvm/

default-java  java-1.11.0-openjdk-amd64  java-11-openjdk-amd64

In [ ]:
!pip install -U pyarrow

Requirement already up-to-date: pyarrow in /usr/local/lib/python3.7/dist-packages (3.0.0)
Requirement already satisfied, skipping upgrade: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.19.5)

In [ ]:
import os 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
#To Test if pyspark is working or not !
reader = spark.read

In [ ]:
rdd = spark.sparkContext.parallelize([1,2,3,4,5,6])

In [ ]:
# "Count" will count the total number of elements of the data set
rdd.count()

6

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
 
# For example, here's several helpful packages to load in 
 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
# we can also run SQL queries with same performance as that of using Pyspark modules/functions
# so to enable such functionalities and to use the pyspark functions we initialize it
from pyspark.sql import SQLContext
# initializing SQLContext
sqlContext = SQLContext(spark)
# to check if it got initialized or not
sqlContext

In [ ]:
# we will use some of the functions present in pyspark like sum, min, max
# we import them using alias and not like - from pyspark.sql.functions import *
# the reason being; there are already functions sum, min, max, etc. present in python and it will override them
import pyspark.sql.functions as F
# this contains the data-types avilable in the pyspark
import pyspark.sql.types as T

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving airlines.csv to airlines.csv

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving airports.csv to airports.csv

In [ ]:
import io
airports = pd.read_csv(io.BytesIO(data_to_load['airports.csv']))

In [ ]:
airports.head(10)

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
5       ACK           Nantucket Memorial Airport  ...  41.25305  -70.06018
6       ACT                Waco Regional Airport  ...  31.61129  -97.23052
7       ACV                       Arcata Airport  ...  40.97812 -124.10862
8       ACY  Atlantic City International Airport  ...  39.45758  -74.57717
9       ADK                         Adak Airport  ...  51.87796 -176.64603

[10 rows x 7 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = 'drive/My Drive/Dataset'

In [ ]:
#pd.read_csv(savefile, dtype=str, index_col=0)
flights_data = pd.read_csv(path+'/flights.csv',dtype= str ,index_col= 0)

In [ ]:
flights_data.head(10)

     MONTH DAY DAY_OF_WEEK  ... AIRLINE_DELAY LATE_AIRCRAFT_DELAY WEATHER_DELAY
YEAR                        ...
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN
2015     1   1           4  ...           NaN                 NaN           NaN

[10 rows x 30 columns]

In [ ]:
#df.rename(columns={"A": "a", "B": "c"})

# Rename the faa column
airports = airports.rename(columns= {"IATA_CODE":"DESTINATION_AIRPORT"})

# Join the DataFrames
flights_with_airports = pd.merge(airports , flights_data,on = 'DESTINATION_AIRPORT', how = 'left')
#result = pd.concat(flights_data, airports)
# Examine the new DataFrame
print(flights_with_airports.columns)
print(flights_with_airports.count())

Index(['DESTINATION_AIRPORT', 'AIRPORT', 'CITY', 'STATE', 'COUNTRY',
       'LATITUDE', 'LONGITUDE', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE',
       'FLIGHT_NUMBER', 'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'SCHEDULED_DEPARTURE',
       'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'WHEELS_ON',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'ARRIVAL_DELAY',
       'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY',
       'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY',
       'WEATHER_DELAY'],
      dtype='object')
DESTINATION_AIRPORT    5332914
AIRPORT                5332914
CITY                   5332914
STATE                  5332914
COUNTRY                5332914
LATITUDE               5328304
LONGITUDE              5328304
MONTH                  5332914
DAY                    5332914
DAY_OF_WEEK            5332914
AIRLINE                5332914
FLIGHT_NUMBER          5332914
TAIL_NUMBER            5318547
ORIGIN_AIRPORT         5332914
SCHEDULED_DEPARTURE    5332914
DEPARTURE_TIME         5249100
DEPARTURE_DELAY        5249100
TAXI_OUT               5246302
WHEELS_OFF             5246302
SCHEDULED_TIME         5332908
ELAPSED_TIME           5231130
AIR_TIME               5231130
DISTANCE               5332914
WHEELS_ON              5242972
TAXI_IN                5242972
SCHEDULED_ARRIVAL      5332914
ARRIVAL_TIME           5242972
ARRIVAL_DELAY          5231130
DIVERTED               5332914
CANCELLED              5332914
CANCELLATION_REASON      87430
AIR_SYSTEM_DELAY       1003360
SECURITY_DELAY         1003360
AIRLINE_DELAY          1003360
LATE_AIRCRAFT_DELAY    1003360
WEATHER_DELAY          1003360
dtype: int64

In [ ]:
flights_with_airports.head(10)

  DESTINATION_AIRPORT  ... WEATHER_DELAY
0                 ABE  ...           NaN
1                 ABE  ...           NaN
2                 ABE  ...           NaN
3                 ABE  ...           NaN
4                 ABE  ...           NaN
5                 ABE  ...           NaN
6                 ABE  ...           NaN
7                 ABE  ...           NaN
8                 ABE  ...             0
9                 ABE  ...             0

[10 rows x 36 columns]

In [ ]:
# Show the data shape
print((flights_data.count(), len(flights_data.columns)))

(MONTH                  5819079
DAY                    5819079
DAY_OF_WEEK            5819079
AIRLINE                5819079
FLIGHT_NUMBER          5819079
TAIL_NUMBER            5804358
ORIGIN_AIRPORT         5819079
DESTINATION_AIRPORT    5819079
SCHEDULED_DEPARTURE    5819079
DEPARTURE_TIME         5732926
DEPARTURE_DELAY        5732926
TAXI_OUT               5730032
WHEELS_OFF             5730032
SCHEDULED_TIME         5819073
ELAPSED_TIME           5714008
AIR_TIME               5714008
DISTANCE               5819079
WHEELS_ON              5726566
TAXI_IN                5726566
SCHEDULED_ARRIVAL      5819079
ARRIVAL_TIME           5726566
ARRIVAL_DELAY          5714008
DIVERTED               5819079
CANCELLED              5819079
CANCELLATION_REASON      89884
AIR_SYSTEM_DELAY       1063439
SECURITY_DELAY         1063439
AIRLINE_DELAY          1063439
LATE_AIRCRAFT_DELAY    1063439
WEATHER_DELAY          1063439
dtype: int64, 30)

In [ ]:
#Loading Data to dataframe
flights_data = sqlContext.read.csv(path+'/flights.csv', header='true', inferSchema='true')

In [ ]:
flights_data.show()

+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|                  5|          2354|            -11|      21|        15|           205|         194|     169|    1448|      404|      4|              430|         408|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|                 10|             2|             -8|      12|        14|           280|         279|     263|    2330|      737|      4|              750|         741|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|                 20|            18|             -2|      16|        34|           286|         293|     266|    2296|      800|     11|              806|         811|            5|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|                 20|            15|             -5|      15|        30|           285|         281|     258|    2342|      748|      8|              805|         756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|                 25|            24|             -1|      11|        35|           235|         215|     199|    1448|      254|      5|              320|         259|          -21|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|                 25|            20|             -5|      18|        38|           217|         230|     206|    1589|      604|      6|              602|         610|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|                 25|            19|             -6|      11|        30|           181|         170|     154|    1299|      504|      5|              526|         509|          -17|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|                 30|            44|             14|      13|        57|           273|         249|     228|    2125|      745|      8|              803|         753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|                 30|            19|            -11|      17|        36|           195|         193|     173|    1464|      529|      3|              545|         532|          -13|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|                 30|            33|              3|      12|        45|           221|         203|     186|    1747|      651|      5|              711|         656|          -15|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2336|     N958DN|           DEN|                ATL|                 30|            24|             -6|      12|        36|           173|         149|     133|    1199|      449|      4|              523|         453|          -30|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AA|         1674|     N853AA|           LAS|                MIA|                 35|            27|             -8|      21|        48|           268|         266|     238|    2174|      746|      7|              803|         753|          -10|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1434|     N547US|           LAX|                MSP|                 35|            35|              0|      18|        53|           214|         210|     188|    1535|      601|      4|              609|         605|           -4|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2324|     N3751B|           SLC|                ATL|                 40|            34|             -6|      18|        52|           215|         199|     176|    1590|      548|      5|              615|         553|          -22|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         2440|     N651DL|           SEA|                MSP|                 40|            39|             -1|      28|       107|           189|         198|     166|    1399|      553|      4|              549|         557|            8|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          108|     N309AS|           ANC|                SEA|                 45|            41|             -4|      17|        58|           204|         194|     173|    1448|      451|      4|              509|         455|          -14|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1560|     N3743H|           ANC|                SEA|                 45|            31|            -14|      25|        56|           210|         200|     171|    1448|      447|      4|              515|         451|          -24|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     UA|         1197|     N78448|           SFO|                IAH|                 48|            42|             -6|      11|        53|           218|         217|     199|    1635|      612|      7|              626|         619|           -7|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     AS|          122|     N413AS|           ANC|                PDX|                 50|            46|             -4|      11|        57|           215|         201|     187|    1542|      504|      3|              525|         507|          -18|       0|        0|               null|            null|          null|         null|               null|         null|
|2015|    1|  1|          4|     DL|         1670|     N806DN|           PDX|                MSP|                 50|            45|             -5|       9|        54|           193|         186|     171|    1426|      545|      6|              603|         551|          -12|       0|        0|               null|            null|          null|         null|               null|         null|
+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
only showing top 20 rows

In [ ]:
# adding data into spark view for sql querying
flights_data.createOrReplaceTempView('flights')

In [ ]:
# Don't change this query
query = "SELECT AIRLINE, FLIGHT_NUMBER, TAIL_NUMBER, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE FROM flights LIMIT 5"

# Get the first 10 rows of flights
flights5 = spark.sql(query)

# Show the results
flights5.show()

+-------+-------------+-----------+--------------+-------------------+-------------------+
|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|
+-------+-------------+-----------+--------------+-------------------+-------------------+
|     AS|           98|     N407AS|           ANC|                SEA|                  5|
|     AA|         2336|     N3KUAA|           LAX|                PBI|                 10|
|     US|          840|     N171US|           SFO|                CLT|                 20|
|     AA|          258|     N3HYAA|           LAX|                MIA|                 20|
|     AS|          135|     N527AS|           SEA|                ANC|                 25|
+-------+-------------+-----------+--------------+-------------------+-------------------+

In [ ]:
# Don't change this query
query = "SELECT ORIGIN_AIRPORT, DESTINATION_AIRPORT, COUNT(*) as N FROM flights GROUP BY ORIGIN_AIRPORT, DESTINATION_AIRPORT"

# Run the query
flight_counts = spark.sql(query)

# Convert the results to a pandas DataFrame
pd_counts = flight_counts.toPandas()

# Print the head of pd_counts
print(pd_counts.head())

  ORIGIN_AIRPORT DESTINATION_AIRPORT     N
0            BQN                 MCO   441
1            PHL                 MCO  4869
2            MCI                 IAH  1698
3            SPI                 ORD   998
4            SNA                 PHX  3846

In [ ]:
# Create the DataFrame flights
flights = spark.table("flights")

# Add duration_hrs
flights = flights.withColumn('duration_hrs', flights.AIR_TIME/60.)

# Show the head
flights.select('duration_hrs').show(10)

+------------------+
|      duration_hrs|
+------------------+
| 2.816666666666667|
| 4.383333333333334|
| 4.433333333333334|
|               4.3|
| 3.316666666666667|
| 3.433333333333333|
| 2.566666666666667|
|               3.8|
|2.8833333333333333|
|               3.1|
+------------------+
only showing top 10 rows

In [ ]:
# Filter flights by passing a string
long_flights1 = flights.filter("DISTANCE > 1000")

# Filter flights by passing a column of boolean values
long_flights2 = flights.filter(flights.DISTANCE > 1000)

In [ ]:
# Select the first set of columns
selected1 = flights.select('TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',)

# Select the second set of columns
temp = flights.select(flights.ORIGIN_AIRPORT, flights.DESTINATION_AIRPORT, flights.AIRLINE)

temp.show()

+--------------+-------------------+-------+
|ORIGIN_AIRPORT|DESTINATION_AIRPORT|AIRLINE|
+--------------+-------------------+-------+
|           ANC|                SEA|     AS|
|           LAX|                PBI|     AA|
|           SFO|                CLT|     US|
|           LAX|                MIA|     AA|
|           SEA|                ANC|     AS|
|           SFO|                MSP|     DL|
|           LAS|                MSP|     NK|
|           LAX|                CLT|     US|
|           SFO|                DFW|     AA|
|           LAS|                ATL|     DL|
|           DEN|                ATL|     DL|
|           LAS|                MIA|     AA|
|           LAX|                MSP|     DL|
|           SLC|                ATL|     DL|
|           SEA|                MSP|     DL|
|           ANC|                SEA|     AS|
|           ANC|                SEA|     DL|
|           SFO|                IAH|     UA|
|           ANC|                PDX|     AS|
|           PDX|                MSP|     DL|
+--------------+-------------------+-------+
only showing top 20 rows

In [ ]:
# Define first filter
filterA = flights.ORIGIN_AIRPORT == "SEA"

# Define second filter
filterB = flights.DESTINATION_AIRPORT == "PDX"

# Filter the data, first by filterA then by filterB
selected2 = temp.filter(filterA).filter(filterB)

In [ ]:
# Define avg_speed
avg_speed = (flights.DISTANCE/(flights.AIR_TIME/60)).alias("avg_speed")

# Select the correct columns
speed1 = flights.select('TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', avg_speed)

# Create the same table using a SQL expression
speed2 = flights.selectExpr('TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT', "DISTANCE/(AIR_TIME/60) as avg_speed")

In [ ]:
# Cast the columns to integers
flights = flights.withColumn("MONTH", flights.MONTH.cast("integer"))
flights = flights.withColumn("DAY_OF_WEEK", flights.DAY_OF_WEEK.cast("integer"))
flights = flights.withColumn("AIR_TIME", flights.AIR_TIME.cast("integer"))
flights = flights.withColumn("DISTANCE", flights.DISTANCE.cast("double"))
flights = flights.withColumn("ARRIVAL_DELAY", flights.ARRIVAL_DELAY.cast("integer"))

In [ ]:
# Find the shortest flight from PDX in terms of distance
flights.filter(flights.ORIGIN_AIRPORT == 'PDX').groupBy().min('DISTANCE').show()

# Find the longest flight from SEA in terms of air time
flights.filter(flights.ORIGIN_AIRPORT == 'SEA').groupBy().max('AIR_TIME').show()

+-------------+
|min(DISTANCE)|
+-------------+
|        129.0|
+-------------+

+-------------+
|max(AIR_TIME)|
+-------------+
|          412|
+-------------+

In [ ]:
# Group by tailnum
by_plane = flights.groupBy("TAIL_NUMBER")

# Number of flights each plane made
by_plane.count().show(10)

# Group by origin
by_origin = flights.groupBy("ORIGIN_AIRPORT")

# Average duration of flights from PDX and SEA
by_origin.avg("AIR_TIME").show(10)

+-----------+-----+
|TAIL_NUMBER|count|
+-----------+-----+
|     N38451|  946|
|     N567AA| 1458|
|     N623NK| 1669|
|     N442AS| 1210|
|     N902DE| 1704|
|     N4YUAA| 1290|
|     N466SW| 1942|
|     N516UA|  439|
|     N866AS| 2397|
|     N499AA| 1292|
+-----------+-----+
only showing top 10 rows

+--------------+------------------+
|ORIGIN_AIRPORT|     avg(AIR_TIME)|
+--------------+------------------+
|           BGM|  65.7915057915058|
|           PSE|182.11517615176152|
|           INL|31.967625899280577|
|           DLG| 50.15584415584416|
|         12888| 26.48076923076923|
|           MSY|102.93938681708973|
|           PPG|  309.188679245283|
|         12003| 83.76842105263158|
|         15041|35.333333333333336|
|           GEG| 84.57923728813559|
+--------------+------------------+
only showing top 10 rows

In [ ]:
# cast
flights = flights.withColumn("DEPARTURE_DELAY", flights.DEPARTURE_DELAY.cast("integer"))

# Group by month and dest
by_month_dest = flights.groupBy('MONTH', 'DESTINATION_AIRPORT')

# Average departure delay by month and destination
by_month_dest.avg('DEPARTURE_DELAY').show(10)

# Standard deviation of departure delay
by_month_dest.agg(F.stddev('DEPARTURE_DELAY')).show(10)

+-----+-------------------+--------------------+
|MONTH|DESTINATION_AIRPORT|avg(DEPARTURE_DELAY)|
+-----+-------------------+--------------------+
|    1|                ACY|    8.33433734939759|
|    1|                EYW|   6.551440329218107|
|    1|                OME|                0.05|
|    1|                RDM|   9.701863354037267|
|    1|                TWF|  -4.711864406779661|
|    2|                AVP|  11.623529411764705|
|    3|                LNK|    8.91304347826087|
|    3|                BJI| -1.0806451612903225|
|    4|                PHX|   5.372045371386754|
|    5|                ONT|  11.258700696055685|
+-----+-------------------+--------------------+
only showing top 10 rows

+-----+-------------------+----------------------------+
|MONTH|DESTINATION_AIRPORT|stddev_samp(DEPARTURE_DELAY)|
+-----+-------------------+----------------------------+
|    1|                ACY|           32.81265545745788|
|    1|                EYW|           63.65052137951282|
|    1|                OME|          19.546923118225806|
|    1|                RDM|          34.260918828983726|
|    1|                TWF|           7.985009333135624|
|    2|                AVP|           25.87606748227672|
|    3|                LNK|           40.74236129383307|
|    3|                BJI|          13.324817701944676|
|    4|                PHX|          27.603966397427516|
|    5|                ONT|          29.925275669669617|
+-----+-------------------+----------------------------+
only showing top 10 rows